# Configuración del entorno
DJANGO_ENV=production
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=cambia_esto_por_una_clave_secreta_segura

# Configuración de la base de datos
DB_NAME=histopatoudec
DB_USER=histopatoudec
DB_PASSWORD=tu_contraseña
DB_HOST=localhost
DB_PORT=3306

# Usar SQLite en desarrollo si MySQL no está disponible
USE_SQLITE=False