{% extends 'layouts/base.html' %}

{% block page_title %}Galería{% endblock %}

{% block content %}
<div class="bg-gradient-to-b from-purple-100 to-purple-300 min-h-screen relative z-0 pt-8 px-6">
    <div class="relative pb-5">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6 px-6">
            {% for categoria in categorias %}
            <a href="{% url 'categoria_detalle' categoria.id %}" class="block">
                <div class="image-text-container">
                    <img src="{{ categoria.imagen.url }}" 
                         alt="{{ categoria.nombre }}" >
                    <p class="p-2">{{ categoria.nombre }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
