{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block Histoflashcards %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
      main {
        padding: 0;
        margin: 0;
      }
      a {
        text-decoration: none !important;
      }
    </style>
  </head>

  <body>
    <header>
      <!-- Developed by Benjamín Jara -->
      <!-- bjaral on GitHub -->
      <div class="drawer">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div
          class="drawer-content flex justify-between items-center py-4 px-4 md:px-16"
        >
          <!-- Left menu button -->
          <label for="my-drawer" class="drawer-button"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="white"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="cursor-pointer"
            >
              <line x1="3" y1="12" x2="21" y2="12"></line>
              <line x1="3" y1="6" x2="21" y2="6"></line>
              <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
          </label>

          <!-- Centered title -->
          <h4 class="text-white text-xs sm:text-sm md:text-xl text-center mx-auto absolute left-0 right-0 max-w-fit">
            {% block page_title %}Histoflashcards{% endblock %}
          </h4>

          <!-- Right logos -->
          <div class="flex space-x-2">
            <img
              src="{% static 'images/institutional/Escudo-UDEC.png' %}"
              alt="Logo"
              class="h-8 md:h-12"
            />
            <img
              src="{% static 'images/institutional/Logo-facultad-de-medicina.png' %}"
              alt="Logo"
              class="h-8 md:h-12"
            />
          </div>
        </div>

        <div class="drawer-side z-50">
          <label
            for="my-drawer"
            aria-label="close sidebar"
            class="drawer-overlay"
          ></label>
          <ul
            class="menu bg-base-200 text-base-content min-h-full w-80 p-4 ulnav"
          >
            <!-- Sidebar content here -->
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'flashcards' %}">Flashcards</a></li>
            <li><a href="{% url 'categorias' %}">Categorías</a></li>
            <li><a href="{% url 'sobre_nosotros' %}">Sobre nosotros</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
